<template>
  <div id="app">
    <button @click="addEvent"></button>
    <FullCalendar
      defaultView="dayGridMonth"
      ref="calendar"
      :plugins="calendarPlugins"
      :header="header"
      :button-text="buttonText"
      :events="events"
      :resources="resources"
      :droppable="true"
      :locale="locale"
      :selectable="true"
      :views="views"
      :nav-links="true"
      @eventClick="eventClick"
      @dateClick="dateClick"
      @eventDrop="eventDrop"
      @eventResize="eventResize"
      @select="select"
    />
    <div>
      <input type="text" v-model="addAllDayEventInfo.title" placeholder="TITLE">
      <input type="text" v-model="addAllDayEventInfo.date" placeholder="all-day: yyyy-MM-dd">
      <button>ADD</button>
    </div>
    <div>
      <input type="text" placeholder="TITLE">
      <input type="text" placeholder="start: yyyy-MM-dd HH:mm:ss">
      <input type="text" placeholder="end: yyyy-MM-dd HH:mm:ss">
      <button>ADD</button>
    </div>
  </div>
</template>

<script>
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import resourceTimelinePlugin from '@fullcalendar/resource-timeline'
import resourceTimegridPlugin from '@fullcalendar/resource-timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import jaLocale from '@fullcalendar/core/locales/ja'

export default {
  name: 'app',
  components: {
    FullCalendar
  },
  data() {
    return {
      calendarPlugins: [ dayGridPlugin, timeGridPlugin, resourceTimelinePlugin, resourceTimegridPlugin, interactionPlugin ],
      header: {
        left: 'dayGridMonth,timeGridWeek,timeGridDay resourceTimelineDay,resourceTimelineWeek,resourceTimelineMonth resourceTimeGridDay',
        center: 'title'
      },
      buttonText: {
        resourceTimelineDay: '日(G)',
        resourceTimelineWeek: '週(G)',
        resourceTimelineMonth: '月(G)',
        resourceTimeGridDay: '日(縦)'
      },
      events: [
        { id: '1111', title: 'TASK A', start: '2019-07-21', resourceId: 'aaaa', editable: true, startEditable: true, durationEditable: true },
        { id: '2222', title: 'TASK B', start: '2019-07-22 10:15', end: '2019-07-22 11:45', resourceId: 'aaaa', editable: true, startEditable: true, durationEditable: true }
      ],
      resources: [
        { id: 'aaaa', title: 'RESOURCE A' },
        { id: 'bbbb', title: 'RESOURCE B' }
      ],
      // defaultDate: '2019-07-21',
      // droppable: true,
      locale: jaLocale,
      views: {
        timeGridWeek: {
          slotLabelFormat: { hour: 'numeric', minute: 'numeric' }
        },
        timeGridDay: {
          slotLabelFormat: { hour: 'numeric', minute: 'numeric' }
        },
        resourceTimelineDay: {
          slotLabelFormat: { hour: 'numeric', minute: 'numeric' }
        },
        resourceTimelineWeek: {
          slotLabelFormat: [
            { month: 'numeric', day: 'numeric', weekday: 'narrow' },
            { hour: 'numeric', minute: 'numeric' }
          ]
        }
      },
      addAllDayEventInfo: {
        title: '',
        date: null
      },
      addEventInfo: {
        title: '',
        start: null,
        end: null
      } 
    }
  },
  methods: {
    eventClick(info) {
      // eslint-disable-next-line
      console.log('eventClick: %o', info)
    },
    dateClick(info) {
      // eslint-disable-next-line
      console.log('dateClick: %o', info)
    },
    eventDrop(eventDropInfo) {
      // eslint-disable-next-line
      console.log('eventDrop: %o', eventDropInfo)
    },
    eventResize(eventResizeInfo) {
      // eslint-disable-next-line
      console.log('eventResize: %o', eventResizeInfo)
    },
    select(/*selectionInfo*/) {
      // const api = this.$refs.calendar.getApi()
      // api.gotoDate(selectionInfo.startStr)
    },
    datesRender(/*info*/) {
      // console.log('dateClick: %o', info)
    },
    dayRender(/*dayRenderInfo*/) {
      // eslint-disable-next-line
      // console.log('dayRender: %o', dayRenderInfo)
    },
    addEvent() {
      // const api = this.$refs.calendar.getApi()
      // api.gotoDate('2019-07-21')

    },
    addAlldayEvent() {

    }
  }
}
</script>

<style lang="scss">
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";
@import "~@fullcalendar/timeline/main.css";
@import "~@fullcalendar/resource-timeline/main.css";

#app {
  width: 80%;
  margin: auto;
}
.fc-sun {
  background-color: #fff5f5;
}
.fc-sat {
  background-color: #f2f8ff;
}
</style>
